In [1]:
import pandas as pd

In [2]:
path1 = "us_disaster_declarations.csv"

In [3]:
data1 = pd.read_csv(path1)
data1

,fema_declaration_string,disaster_number,state,declaration_type,declaration_date,fy_declared,incident_type,declaration_title,ih_program_declared,ia_program_declared,...,incident_end_date,disaster_closeout_date,fips,place_code,designated_area,declaration_request_number,last_ia_filing_date,hash,id,last_refresh
0,DR-1-GA,1,GA,DR,1953-05-02T00:00:00Z,1953,Tornado,Tornado,0,1,...,1953-05-02T00:00:00Z,1954-06-01T00:00:00Z,13000,0,Statewide,53013,NaN,deb98e5688deba24cdce35e6ead78158fd80f741,8f8b4a86-847f-422c-b2a3-bbdb2f2ee9d7,2022-07-20T21:22:24Z
1,DR-2-TX,2,TX,DR,1953-05-15T00:00:00Z,1953,Tornado,Tornado & Heavy Rainfall,0,1,...,1953-05-15T00:00:00Z,1958-01-01T00:00:00Z,48000,0,Statewide,53003,NaN,319d7571fad2f0f6a3270e968fc1497ee4483831,4926ca15-ee98-4d43-9636-4c3e4d1308d2,2022-07-20T21:22:24Z
2,DR-3-LA,3,LA,DR,1953-05-29T00:00:00Z,1953,Flood,Flood,0,1,...,1953-05-29T00:00:00Z,1960-02-01T00:00:00Z,22000,0,Statewide,53005,NaN,5eca2ab08254fda0184630d798f5a17b95bd39f7,5c899b70-3999-47c0-80c7-e5cb8908a048,2022-07-20T21:22:24Z
3,DR-4-MI,4,MI,DR,1953-06-02T00:00:00Z,1953,Tornado,Tornado,0,1,...,1953-06-02T00:00:00Z,1956-02-01T00:00:00Z,26000,0,Statewide,53004,NaN,af9856b9f1e8ada710ff92690a1cfec368f9b315,8f69798b-4084-41b9-a389-f0c51ebac066,2022-07-20T21:22:24Z
4,DR-5-MT,5,MT,DR,1953-06-06T00:00:00Z,1953,Flood,Floods,0,1,...,1953-06-06T00:00:00Z,1955-12-01T00:00:00Z,30000,0,Statewide,53006,NaN,750685661b7d2fbdbc7d967c7ef3bf563df8cca1,cc3997c1-06bc-43d8-a3cc-3696a73637f1,2022-07-20T21:22:24Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63696,EM-3586-NC,3586,NC,EM,2022-10-01T00:00:00Z,2023,Hurricane,Hurricane Ian,0,0,...,NaN,NaN,37147,99147,Pitt (County),22091,NaN,3bd2dea11fa8caac86eba6e5fc2fc71bd3067667,7eaaf5d5-1760-477c-ba1e-a45ff3df9353,2022-10-01T04:41:30Z
63697,EM-3586-NC,3586,NC,EM,2022-10-01T00:00:00Z,2023,Hurricane,Hurricane Ian,0,0,...,NaN,NaN,37173,99173,Swain (County),22091,NaN,277b54ff10f36af8a2953072092a1e3e238e2593,aae65641-7c12-46de-abd9-925a4de9d1e5,2022-10-01T04:41:30Z
63698,DR-4676-IL,4676,IL,DR,2022-10-14T00:00:00Z,2023,Flood,Severe Storm And Flooding,1,0,...,2022-07-28T00:00:00Z,NaN,17163,99163,St. Clair (County),22074,2022-12-16T00:00:00Z,baa79021a6bb8c27c2118035bc00392212cec811,9f42ed66-5ee5-4cb0-9130-ae32eccd4f7e,2022-10-17T17:22:16Z
63699,FM-5456-WA,5456,WA,FM,2022-10-17T00:00:00Z,2023,Fire,Nakia Creek Fire,0,0,...,NaN,NaN,53011,99011,Clark (County),22097,NaN,73993b1c2a24962b4e18c3d29696d8e18f7f212a,18b172e2-bdcb-4af0-80fd-05c6290114b0,2022-10-17T19:01:32Z
63700,FM-5456-WA,5456,WA,FM,2022-10-17T00:00:00Z,2023,Fire,Nakia Creek Fire,0,0,...,NaN,NaN,53059,99059,Skamania (County),22097,NaN,8f040e1efef550b28cc2cd3bce77b99ec887e9fd,fa26a76d-608d-4573-bc45-b679bfa37c5e,2022-10-17T19:01:32Z

In [4]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63701 entries, 0 to 63700
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   fema_declaration_string     63701 non-null  object
 1   disaster_number             63701 non-null  int64
 2   state                       63701 non-null  object
 3   declaration_type            63701 non-null  object
 4   declaration_date            63701 non-null  object
 5   fy_declared                 63701 non-null  int64
 6   incident_type               63701 non-null  object
 7   declaration_title           63701 non-null  object
 8   ih_program_declared         63701 non-null  int64
 9   ia_program_declared         63701 non-null  int64
 10  pa_program_declared         63701 non-null  int64
 11  hm_program_declared         63701 non-null  int64
 12  incident_begin_date         63701 non-null  object
 13  incident_end_date           55034 non-null  object
 14  disaster_closeout_date      48464 non-null  object
 15  fips                        63701 non-null  int64
 16  place_code                  63701 non-null  int64
 17  designated_area             63701 non-null  object
 18  declaration_request_number  63701 non-null  int64
 19  last_ia_filing_date         17574 non-null  object
 20  hash                        63701 non-null  object
 21  id                          63701 non-null  object
 22  last_refresh                63701 non-null  object
dtypes: int64(9), object(14)
memory usage: 11.2+ MB

In [5]:
data1.isnull().sum()

fema_declaration_string           0
disaster_number                   0
state                             0
declaration_type                  0
declaration_date                  0
fy_declared                       0
incident_type                     0
declaration_title                 0
ih_program_declared               0
ia_program_declared               0
pa_program_declared               0
hm_program_declared               0
incident_begin_date               0
incident_end_date              8667
disaster_closeout_date        15237
fips                              0
place_code                        0
designated_area                   0
declaration_request_number        0
last_ia_filing_date           46127
hash                              0
id                                0
last_refresh                      0
dtype: int64

In [6]:
data1.drop(['last_ia_filing_date'],axis=1, inplace=True)

In [7]:
data1.incident_type.unique()

array(['Tornado', 'Flood', 'Fire', 'Other', 'Earthquake', 'Hurricane',
       'Volcano', 'Severe Storm(s)', 'Toxic Substances', 'Typhoon',
       'Drought', 'Dam/Levee Break', 'Snow', 'Severe Ice Storm',
       'Freezing', 'Coastal Storm', 'Fishing Losses', 'Mud/Landslide',
       'Human Cause', 'Terrorist', 'Tsunami', 'Chemical', 'Biological'],
      dtype=object)

In [8]:
data1.incident_type.nunique()

23

In [9]:
data1.incident_type.value_counts()

Severe Storm(s)     17438
Hurricane           12946
Flood               10563
Biological           7857
Snow                 3695
Fire                 3614
Severe Ice Storm     2942
Tornado              1569
Drought              1292
Coastal Storm         638
Other                 307
Freezing              301
Earthquake            227
Typhoon               130
Volcano                51
Fishing Losses         42
Mud/Landslide          37
Dam/Levee Break        13
Toxic Substances        9
Tsunami                 9
Chemical                9
Human Cause             7
Terrorist               5
Name: incident_type, dtype: int64

In [10]:
remove= ['Human Cause','Terrorist','Chemical','Biological','Fishing Losses','Dam/Levee Break','Toxic Substances','Other']

In [ ]:
remove2= []

In [11]:
data2 = data1[data1.incident_type.isin(remove) == False]
data2

,fema_declaration_string,disaster_number,state,declaration_type,declaration_date,fy_declared,incident_type,declaration_title,ih_program_declared,ia_program_declared,...,incident_begin_date,incident_end_date,disaster_closeout_date,fips,place_code,designated_area,declaration_request_number,hash,id,last_refresh
0,DR-1-GA,1,GA,DR,1953-05-02T00:00:00Z,1953,Tornado,Tornado,0,1,...,1953-05-02T00:00:00Z,1953-05-02T00:00:00Z,1954-06-01T00:00:00Z,13000,0,Statewide,53013,deb98e5688deba24cdce35e6ead78158fd80f741,8f8b4a86-847f-422c-b2a3-bbdb2f2ee9d7,2022-07-20T21:22:24Z
1,DR-2-TX,2,TX,DR,1953-05-15T00:00:00Z,1953,Tornado,Tornado & Heavy Rainfall,0,1,...,1953-05-15T00:00:00Z,1953-05-15T00:00:00Z,1958-01-01T00:00:00Z,48000,0,Statewide,53003,319d7571fad2f0f6a3270e968fc1497ee4483831,4926ca15-ee98-4d43-9636-4c3e4d1308d2,2022-07-20T21:22:24Z
2,DR-3-LA,3,LA,DR,1953-05-29T00:00:00Z,1953,Flood,Flood,0,1,...,1953-05-29T00:00:00Z,1953-05-29T00:00:00Z,1960-02-01T00:00:00Z,22000,0,Statewide,53005,5eca2ab08254fda0184630d798f5a17b95bd39f7,5c899b70-3999-47c0-80c7-e5cb8908a048,2022-07-20T21:22:24Z
3,DR-4-MI,4,MI,DR,1953-06-02T00:00:00Z,1953,Tornado,Tornado,0,1,...,1953-06-02T00:00:00Z,1953-06-02T00:00:00Z,1956-02-01T00:00:00Z,26000,0,Statewide,53004,af9856b9f1e8ada710ff92690a1cfec368f9b315,8f69798b-4084-41b9-a389-f0c51ebac066,2022-07-20T21:22:24Z
4,DR-5-MT,5,MT,DR,1953-06-06T00:00:00Z,1953,Flood,Floods,0,1,...,1953-06-06T00:00:00Z,1953-06-06T00:00:00Z,1955-12-01T00:00:00Z,30000,0,Statewide,53006,750685661b7d2fbdbc7d967c7ef3bf563df8cca1,cc3997c1-06bc-43d8-a3cc-3696a73637f1,2022-07-20T21:22:24Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63696,EM-3586-NC,3586,NC,EM,2022-10-01T00:00:00Z,2023,Hurricane,Hurricane Ian,0,0,...,2022-09-28T00:00:00Z,NaN,NaN,37147,99147,Pitt (County),22091,3bd2dea11fa8caac86eba6e5fc2fc71bd3067667,7eaaf5d5-1760-477c-ba1e-a45ff3df9353,2022-10-01T04:41:30Z
63697,EM-3586-NC,3586,NC,EM,2022-10-01T00:00:00Z,2023,Hurricane,Hurricane Ian,0,0,...,2022-09-28T00:00:00Z,NaN,NaN,37173,99173,Swain (County),22091,277b54ff10f36af8a2953072092a1e3e238e2593,aae65641-7c12-46de-abd9-925a4de9d1e5,2022-10-01T04:41:30Z
63698,DR-4676-IL,4676,IL,DR,2022-10-14T00:00:00Z,2023,Flood,Severe Storm And Flooding,1,0,...,2022-07-25T00:00:00Z,2022-07-28T00:00:00Z,NaN,17163,99163,St. Clair (County),22074,baa79021a6bb8c27c2118035bc00392212cec811,9f42ed66-5ee5-4cb0-9130-ae32eccd4f7e,2022-10-17T17:22:16Z
63699,FM-5456-WA,5456,WA,FM,2022-10-17T00:00:00Z,2023,Fire,Nakia Creek Fire,0,0,...,2022-10-09T00:00:00Z,NaN,NaN,53011,99011,Clark (County),22097,73993b1c2a24962b4e18c3d29696d8e18f7f212a,18b172e2-bdcb-4af0-80fd-05c6290114b0,2022-10-17T19:01:32Z
63700,FM-5456-WA,5456,WA,FM,2022-10-17T00:00:00Z,2023,Fire,Nakia Creek Fire,0,0,...,2022-10-09T00:00:00Z,NaN,NaN,53059,99059,Skamania (County),22097,8f040e1efef550b28cc2cd3bce77b99ec887e9fd,fa26a76d-608d-4573-bc45-b679bfa37c5e,2022-10-17T19:01:32Z

In [39]:
a= data2.state.unique()
a

array(['GA', 'TX', 'LA', 'MI', 'MT', 'IA', 'MA', 'NH', 'FL', 'MS', 'CA',
       'NV', 'SD', 'WV', 'RI', 'ME', 'CT', 'NY', 'NM', 'NC', 'SC', 'IN',
       'HI', 'CO', 'KS', 'OK', 'NJ', 'PA', 'OR', 'WA', 'ID', 'PR', 'KY',
       'VA', 'MO', 'AR', 'ND', 'IL', 'MN', 'OH', 'NE', 'AL', 'MD', 'DE',
       'GU', 'TN', 'FM', 'WY', 'VT', 'AK', 'VI', 'WI', 'AS', 'AZ', 'MP',
       'UT', 'MH', 'DC', 'PW'], dtype=object)

In [14]:
path2 = "States - Sheet1.csv"
state_data = pd.read_csv(path2)
state_data

                   State Standard state_mergekey
0                Alabama     Ala.             AL
1                 Alaska   Alaska             AK
2                Arizona    Ariz.             AZ
3               Arkansas     Ark.             AR
4             California   Calif.             CA
5             Canal Zone     C.Z.             CZ
6               Colorado    Colo.             CO
7            Connecticut    Conn.             CT
8               Delaware     Del.             DE
9   District of Columbia     D.C.             DC
10               Florida     Fla.             FL
11               Georgia      Ga.             GA
12                  Guam     Guam             GU
13                Hawaii   Hawaii             HI
14                 Idaho    Idaho             ID
15              Illinois     Ill.             IL
16               Indiana     Ind.             IN
17                  Iowa     Iowa             IA
18                Kansas     Kan.             KS
19              Kentucky      Ky.             KY
20             Louisiana      La.             LA
21                 Maine    Maine             ME
22              Maryland      Md.             MD
23         Massachusetts    Mass.             MA
24              Michigan    Mich.             MI
25             Minnesota    Minn.             MN
26           Mississippi    Miss.             MS
27              Missouri      Mo.             MO
28               Montana    Mont.             MT
29              Nebraska     Neb.             NE
30                Nevada     Nev.             NV
31         New Hampshire     N.H.             NH
32            New Jersey     N.J.             NJ
33            New Mexico     N.M.             NM
34              New York     N.Y.             NY
35        North Carolina     N.C.             NC
36          North Dakota     N.D.             ND
37                  Ohio     Ohio             OH
38              Oklahoma    Okla.             OK
39                Oregon     Ore.             OR
40          Pennsylvania      Pa.             PA
41           Puerto Rico     P.R.             PR
42          Rhode Island     R.I.             RI
43        South Carolina     S.C.             SC
44          South Dakota     S.D.             SD
45             Tennessee    Tenn.             TN
46                 Texas    Texas             TX
47                  Utah     Utah             UT
48               Vermont      Vt.             VT
49        Virgin Islands     V.I.             VI
50              Virginia      Va.             VA
51            Washington    Wash.             WA
52         West Virginia    W.Va.             WV
53             Wisconsin     Wis.             WI
54               Wyoming     Wyo.             WY

In [15]:
data2["state"] = data2.state.replace({"DC","MD"})
data3 = pd.merge(left=data2,right=state_data,left_on="state",right_on="state_mergekey",how="left")
data3.declaration_date = pd.to_datetime(data3.declaration_date)
data3

C:\Users\MANIDEDEEPYA\AppData\Local\Temp\ipykernel_13572\2147692777.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2["state"] = data2.state.replace({"DC","MD"})

,fema_declaration_string,disaster_number,state,declaration_type,declaration_date,fy_declared,incident_type,declaration_title,ih_program_declared,ia_program_declared,...,fips,place_code,designated_area,declaration_request_number,hash,id,last_refresh,State,Standard,state_mergekey
0,DR-1-GA,1,GA,DR,1953-05-02 00:00:00+00:00,1953,Tornado,Tornado,0,1,...,13000,0,Statewide,53013,deb98e5688deba24cdce35e6ead78158fd80f741,8f8b4a86-847f-422c-b2a3-bbdb2f2ee9d7,2022-07-20T21:22:24Z,Georgia,Ga.,GA
1,DR-2-TX,2,TX,DR,1953-05-15 00:00:00+00:00,1953,Tornado,Tornado & Heavy Rainfall,0,1,...,48000,0,Statewide,53003,319d7571fad2f0f6a3270e968fc1497ee4483831,4926ca15-ee98-4d43-9636-4c3e4d1308d2,2022-07-20T21:22:24Z,Texas,Texas,TX
2,DR-3-LA,3,LA,DR,1953-05-29 00:00:00+00:00,1953,Flood,Flood,0,1,...,22000,0,Statewide,53005,5eca2ab08254fda0184630d798f5a17b95bd39f7,5c899b70-3999-47c0-80c7-e5cb8908a048,2022-07-20T21:22:24Z,Louisiana,La.,LA
3,DR-4-MI,4,MI,DR,1953-06-02 00:00:00+00:00,1953,Tornado,Tornado,0,1,...,26000,0,Statewide,53004,af9856b9f1e8ada710ff92690a1cfec368f9b315,8f69798b-4084-41b9-a389-f0c51ebac066,2022-07-20T21:22:24Z,Michigan,Mich.,MI
4,DR-5-MT,5,MT,DR,1953-06-06 00:00:00+00:00,1953,Flood,Floods,0,1,...,30000,0,Statewide,53006,750685661b7d2fbdbc7d967c7ef3bf563df8cca1,cc3997c1-06bc-43d8-a3cc-3696a73637f1,2022-07-20T21:22:24Z,Montana,Mont.,MT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55447,EM-3586-NC,3586,NC,EM,2022-10-01 00:00:00+00:00,2023,Hurricane,Hurricane Ian,0,0,...,37147,99147,Pitt (County),22091,3bd2dea11fa8caac86eba6e5fc2fc71bd3067667,7eaaf5d5-1760-477c-ba1e-a45ff3df9353,2022-10-01T04:41:30Z,North Carolina,N.C.,NC
55448,EM-3586-NC,3586,NC,EM,2022-10-01 00:00:00+00:00,2023,Hurricane,Hurricane Ian,0,0,...,37173,99173,Swain (County),22091,277b54ff10f36af8a2953072092a1e3e238e2593,aae65641-7c12-46de-abd9-925a4de9d1e5,2022-10-01T04:41:30Z,North Carolina,N.C.,NC
55449,DR-4676-IL,4676,IL,DR,2022-10-14 00:00:00+00:00,2023,Flood,Severe Storm And Flooding,1,0,...,17163,99163,St. Clair (County),22074,baa79021a6bb8c27c2118035bc00392212cec811,9f42ed66-5ee5-4cb0-9130-ae32eccd4f7e,2022-10-17T17:22:16Z,Illinois,Ill.,IL
55450,FM-5456-WA,5456,WA,FM,2022-10-17 00:00:00+00:00,2023,Fire,Nakia Creek Fire,0,0,...,53011,99011,Clark (County),22097,73993b1c2a24962b4e18c3d29696d8e18f7f212a,18b172e2-bdcb-4af0-80fd-05c6290114b0,2022-10-17T19:01:32Z,Washington,Wash.,WA
55451,FM-5456-WA,5456,WA,FM,2022-10-17 00:00:00+00:00,2023,Fire,Nakia Creek Fire,0,0,...,53059,99059,Skamania (County),22097,8f040e1efef550b28cc2cd3bce77b99ec887e9fd,fa26a76d-608d-4573-bc45-b679bfa37c5e,2022-10-17T19:01:32Z,Washington,Wash.,WA

In [40]:
a= data3.state_mergekey.unique()
a

array(['GA', 'TX', 'LA', 'MI', 'MT', 'IA', 'MA', 'NH', 'FL', 'MS', 'CA',
       'NV', 'SD', 'WV', 'RI', 'ME', 'CT', 'NY', 'NM', 'NC', 'SC', 'IN',
       'HI', 'CO', 'KS', 'OK', 'NJ', 'PA', 'OR', 'WA', 'ID', 'PR', 'KY',
       'VA', 'MO', 'AR', 'ND', 'IL', 'MN', 'OH', 'NE', 'AL', 'MD', 'DE',
       'GU', 'TN', nan, 'WY', 'VT', 'AK', 'VI', 'WI', 'AZ', 'UT', 'DC'],
      dtype=object)

In [41]:
b= data3.state.unique()
b

array(['GA', 'TX', 'LA', 'MI', 'MT', 'IA', 'MA', 'NH', 'FL', 'MS', 'CA',
       'NV', 'SD', 'WV', 'RI', 'ME', 'CT', 'NY', 'NM', 'NC', 'SC', 'IN',
       'HI', 'CO', 'KS', 'OK', 'NJ', 'PA', 'OR', 'WA', 'ID', 'PR', 'KY',
       'VA', 'MO', 'AR', 'ND', 'IL', 'MN', 'OH', 'NE', 'AL', 'MD', 'DE',
       'GU', 'TN', 'FM', 'WY', 'VT', 'AK', 'VI', 'WI', 'AS', 'AZ', 'MP',
       'UT', 'MH', 'DC', 'PW'], dtype=object)

In [51]:
remove2= ['FM','AS','MP','MH','PW']
data4 = data3[data3.state.isin(remove2) == False]
data4

,fema_declaration_string,disaster_number,state,declaration_type,declaration_date,fy_declared,incident_type,declaration_title,ih_program_declared,ia_program_declared,...,id,last_refresh,State,Standard,state_mergekey,declaration_date_up,disaster_closeout_date_up,incident_begin_date_up,incident_end_date_up,last_refresh_up
0,DR-1-GA,1,GA,DR,1953-05-02 00:00:00+00:00,1953,Tornado,Tornado,0,1,...,8f8b4a86-847f-422c-b2a3-bbdb2f2ee9d7,2022-07-20 21:22:24+00:00,Georgia,Ga.,GA,05/02/1953,06/01/1954,05/02/1953,05/02/1953,07/20/2022
1,DR-2-TX,2,TX,DR,1953-05-15 00:00:00+00:00,1953,Tornado,Tornado & Heavy Rainfall,0,1,...,4926ca15-ee98-4d43-9636-4c3e4d1308d2,2022-07-20 21:22:24+00:00,Texas,Texas,TX,05/15/1953,01/01/1958,05/15/1953,05/15/1953,07/20/2022
2,DR-3-LA,3,LA,DR,1953-05-29 00:00:00+00:00,1953,Flood,Flood,0,1,...,5c899b70-3999-47c0-80c7-e5cb8908a048,2022-07-20 21:22:24+00:00,Louisiana,La.,LA,05/29/1953,02/01/1960,05/29/1953,05/29/1953,07/20/2022
3,DR-4-MI,4,MI,DR,1953-06-02 00:00:00+00:00,1953,Tornado,Tornado,0,1,...,8f69798b-4084-41b9-a389-f0c51ebac066,2022-07-20 21:22:24+00:00,Michigan,Mich.,MI,06/02/1953,02/01/1956,06/02/1953,06/02/1953,07/20/2022
4,DR-5-MT,5,MT,DR,1953-06-06 00:00:00+00:00,1953,Flood,Floods,0,1,...,cc3997c1-06bc-43d8-a3cc-3696a73637f1,2022-07-20 21:22:24+00:00,Montana,Mont.,MT,06/06/1953,12/01/1955,06/06/1953,06/06/1953,07/20/2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55447,EM-3586-NC,3586,NC,EM,2022-10-01 00:00:00+00:00,2023,Hurricane,Hurricane Ian,0,0,...,7eaaf5d5-1760-477c-ba1e-a45ff3df9353,2022-10-01 04:41:30+00:00,North Carolina,N.C.,NC,10/01/2022,NaN,09/28/2022,NaN,10/01/2022
55448,EM-3586-NC,3586,NC,EM,2022-10-01 00:00:00+00:00,2023,Hurricane,Hurricane Ian,0,0,...,aae65641-7c12-46de-abd9-925a4de9d1e5,2022-10-01 04:41:30+00:00,North Carolina,N.C.,NC,10/01/2022,NaN,09/28/2022,NaN,10/01/2022
55449,DR-4676-IL,4676,IL,DR,2022-10-14 00:00:00+00:00,2023,Flood,Severe Storm And Flooding,1,0,...,9f42ed66-5ee5-4cb0-9130-ae32eccd4f7e,2022-10-17 17:22:16+00:00,Illinois,Ill.,IL,10/14/2022,NaN,07/25/2022,07/28/2022,10/17/2022
55450,FM-5456-WA,5456,WA,FM,2022-10-17 00:00:00+00:00,2023,Fire,Nakia Creek Fire,0,0,...,18b172e2-bdcb-4af0-80fd-05c6290114b0,2022-10-17 19:01:32+00:00,Washington,Wash.,WA,10/17/2022,NaN,10/09/2022,NaN,10/17/2022
55451,FM-5456-WA,5456,WA,FM,2022-10-17 00:00:00+00:00,2023,Fire,Nakia Creek Fire,0,0,...,fa26a76d-608d-4573-bc45-b679bfa37c5e,2022-10-17 19:01:32+00:00,Washington,Wash.,WA,10/17/2022,NaN,10/09/2022,NaN,10/17/2022

In [52]:
c= data4.state.unique()
c

array(['GA', 'TX', 'LA', 'MI', 'MT', 'IA', 'MA', 'NH', 'FL', 'MS', 'CA',
       'NV', 'SD', 'WV', 'RI', 'ME', 'CT', 'NY', 'NM', 'NC', 'SC', 'IN',
       'HI', 'CO', 'KS', 'OK', 'NJ', 'PA', 'OR', 'WA', 'ID', 'PR', 'KY',
       'VA', 'MO', 'AR', 'ND', 'IL', 'MN', 'OH', 'NE', 'AL', 'MD', 'DE',
       'GU', 'TN', 'WY', 'VT', 'AK', 'VI', 'WI', 'AZ', 'UT', 'DC'],
      dtype=object)

In [53]:
d= data4.state_mergekey.unique()
d

array(['GA', 'TX', 'LA', 'MI', 'MT', 'IA', 'MA', 'NH', 'FL', 'MS', 'CA',
       'NV', 'SD', 'WV', 'RI', 'ME', 'CT', 'NY', 'NM', 'NC', 'SC', 'IN',
       'HI', 'CO', 'KS', 'OK', 'NJ', 'PA', 'OR', 'WA', 'ID', 'PR', 'KY',
       'VA', 'MO', 'AR', 'ND', 'IL', 'MN', 'OH', 'NE', 'AL', 'MD', 'DE',
       'GU', 'TN', 'WY', 'VT', 'AK', 'VI', 'WI', 'AZ', 'UT', 'DC'],
      dtype=object)

In [54]:
data4.isnull().sum()

fema_declaration_string           0
disaster_number                   0
state                             0
declaration_type                  0
declaration_date                  0
fy_declared                       0
incident_type                     0
declaration_title                 0
ih_program_declared               0
ia_program_declared               0
pa_program_declared               0
hm_program_declared               0
incident_begin_date               0
incident_end_date               808
disaster_closeout_date        10711
fips                              0
place_code                        0
designated_area                   0
declaration_request_number        0
hash                              0
id                                0
last_refresh                      0
State                             0
Standard                          0
state_mergekey                    0
declaration_date_up               0
disaster_closeout_date_up     10711
incident_begin_date_up            0
incident_end_date_up            808
last_refresh_up                   0
dtype: int64

In [17]:
time = data3['declaration_date'].tolist()
time

[Timestamp('1953-05-02 00:00:00+0000', tz='UTC'),
 Timestamp('1953-05-15 00:00:00+0000', tz='UTC'),
 Timestamp('1953-05-29 00:00:00+0000', tz='UTC'),
 Timestamp('1953-06-02 00:00:00+0000', tz='UTC'),
 Timestamp('1953-06-06 00:00:00+0000', tz='UTC'),
 Timestamp('1953-06-09 00:00:00+0000', tz='UTC'),
 Timestamp('1953-06-11 00:00:00+0000', tz='UTC'),
 Timestamp('1953-06-11 00:00:00+0000', tz='UTC'),
 Timestamp('1953-06-19 00:00:00+0000', tz='UTC'),
 Timestamp('1953-07-02 00:00:00+0000', tz='UTC'),
 Timestamp('1953-10-22 00:00:00+0000', tz='UTC'),
 Timestamp('1953-12-06 00:00:00+0000', tz='UTC'),
 Timestamp('1954-02-05 00:00:00+0000', tz='UTC'),
 Timestamp('1954-03-17 00:00:00+0000', tz='UTC'),
 Timestamp('1954-06-23 00:00:00+0000', tz='UTC'),
 Timestamp('1954-07-01 00:00:00+0000', tz='UTC'),
 Timestamp('1954-07-14 00:00:00+0000', tz='UTC'),
 Timestamp('1954-07-31 00:00:00+0000', tz='UTC'),
 Timestamp('1954-08-04 00:00:00+0000', tz='UTC'),
 Timestamp('1954-09-02 00:00:00+0000', tz='UTC'),
 Timestamp('1954-09-02 00:00:00+0000', tz='UTC'),
 Timestamp('1954-09-13 00:00:00+0000', tz='UTC'),
 Timestamp('1954-09-17 00:00:00+0000', tz='UTC'),
 Timestamp('1954-10-07 00:00:00+0000', tz='UTC'),
 Timestamp('1954-10-13 00:00:00+0000', tz='UTC'),
 Timestamp('1954-10-17 00:00:00+0000', tz='UTC'),
 Timestamp('1954-10-17 00:00:00+0000', tz='UTC'),
 Timestamp('1954-10-26 00:00:00+0000', tz='UTC'),
 Timestamp('1955-04-01 00:00:00+0000', tz='UTC'),
 Timestamp('1955-05-25 00:00:00+0000', tz='UTC'),
 Timestamp('1955-05-27 00:00:00+0000', tz='UTC'),
 Timestamp('1955-06-01 00:00:00+0000', tz='UTC'),
 Timestamp('1955-06-21 00:00:00+0000', tz='UTC'),
 Timestamp('1955-08-13 00:00:00+0000', tz='UTC'),
 Timestamp('1955-08-15 00:00:00+0000', tz='UTC'),
 Timestamp('1955-08-20 00:00:00+0000', tz='UTC'),
 Timestamp('1955-08-20 00:00:00+0000', tz='UTC'),
 Timestamp('1955-08-20 00:00:00+0000', tz='UTC'),
 Timestamp('1955-08-20 00:00:00+0000', tz='UTC'),
 Timestamp('1955-08-20 00:00:00+0000', tz='UTC'),
 Timestamp('1955-08-20 00:00:00+0000', tz='UTC'),
 Timestamp('1955-08-22 00:00:00+0000', tz='UTC'),
 Timestamp('1955-12-23 00:00:00+0000', tz='UTC'),
 Timestamp('1955-12-24 00:00:00+0000', tz='UTC'),
 Timestamp('1955-12-29 00:00:00+0000', tz='UTC'),
 Timestamp('1956-02-25 00:00:00+0000', tz='UTC'),
 Timestamp('1956-03-15 00:00:00+0000', tz='UTC'),
 Timestamp('1956-03-29 00:00:00+0000', tz='UTC'),
 Timestamp('1956-04-05 00:00:00+0000', tz='UTC'),
 Timestamp('1956-04-07 00:00:00+0000', tz='UTC'),
 Timestamp('1956-04-21 00:00:00+0000', tz='UTC'),
 Timestamp('1956-04-24 00:00:00+0000', tz='UTC'),
 Timestamp('1956-05-21 00:00:00+0000', tz='UTC'),
 Timestamp('1956-06-12 00:00:00+0000', tz='UTC'),
 Timestamp('1956-07-20 00:00:00+0000', tz='UTC'),
 Timestamp('1956-08-09 00:00:00+0000', tz='UTC'),
 Timestamp('1956-08-18 00:00:00+0000', tz='UTC'),
 Timestamp('1956-08-31 00:00:00+0000', tz='UTC'),
 Timestamp('1956-10-04 00:00:00+0000', tz='UTC'),
 Timestamp('1956-12-29 00:00:00+0000', tz='UTC'),
 Timestamp('1957-01-31 00:00:00+0000', tz='UTC'),
 Timestamp('1957-01-31 00:00:00+0000', tz='UTC'),
 Timestamp('1957-02-01 00:00:00+0000', tz='UTC'),
 Timestamp('1957-03-01 00:00:00+0000', tz='UTC'),
 Timestamp('1957-03-06 00:00:00+0000', tz='UTC'),
 Timestamp('1957-04-29 00:00:00+0000', tz='UTC'),
 Timestamp('1957-05-16 00:00:00+0000', tz='UTC'),
 Timestamp('1957-05-18 00:00:00+0000', tz='UTC'),
 Timestamp('1957-05-22 00:00:00+0000', tz='UTC'),
 Timestamp('1957-05-27 00:00:00+0000', tz='UTC'),
 Timestamp('1957-05-29 00:00:00+0000', tz='UTC'),
 Timestamp('1957-06-22 00:00:00+0000', tz='UTC'),
 Timestamp('1957-06-22 00:00:00+0000', tz='UTC'),
 Timestamp('1957-06-22 00:00:00+0000', tz='UTC'),
 Timestamp('1957-09-05 00:00:00+0000', tz='UTC'),
 Timestamp('1958-04-04 00:00:00+0000', tz='UTC'),
 Timestamp('1958-05-15 00:00:00+0000', tz='UTC'),
 Timestamp('1958-05-20 00:00:00+0000', tz='UTC'),
 Timestamp('1958-06-06 00:00:00+0000', tz='UTC'),
 Timestamp('1958-07-05 00:00:00+0000', tz='UTC'),
 Timestamp('1958-10-01 00:00:00+0000', tz='UTC'),
 Timestamp('1958-11-06 00:00:00+0000', tz='UTC'),
 Timestamp('1959-01-23 00:00:00+0000', tz='UTC'),
 Timestamp('1959-01-23 00:00:00+0000', tz='UTC'),
 Timestamp('1959-01-29 00:00:00+0000', tz='UTC'),
 Timestamp('1959-07-08 00:00:00+0000', tz='UTC'),
 Timestamp('1959-07-08 00:00:00+0000', tz='UTC'),
 Timestamp('1959-08-16 00:00:00+0000', tz='UTC'),
 Timestamp('1959-11-09 00:00:00+0000', tz='UTC'),
 Timestamp('1960-01-21 00:00:00+0000', tz='UTC'),
 Timestamp('1960-04-04 00:00:00+0000', tz='UTC'),
 Timestamp('1960-04-08 00:00:00+0000', tz='UTC'),
 Timestamp('1960-04-20 00:00:00+0000', tz='UTC'),
 Timestamp('1960-05-28 00:00:00+0000', tz='UTC'),
 Timestamp('1960-07-15 00:00:00+0000', tz='UTC'),
 Timestamp('1960-07-15 00:00:00+0000', tz='UTC'),
 Timestamp('1960-07-22 00:00:00+0000', tz='UTC'),
 Timestamp('1960-09-12 00:00:00+0000', tz='UTC'),
 Timestamp('1960-09-16 00:00:00+0000', tz='UTC'),
 Timestamp('1961-02-27 00:00:00+0000', tz='UTC'),
 Timestamp('1961-02-27 00:00:00+0000', tz='UTC'),
 Timestamp('1961-03-02 00:00:00+0000', tz='UTC'),
 Timestamp('1961-03-31 00:00:00+0000', tz='UTC'),
 Timestamp('1961-05-16 00:00:00+0000', tz='UTC'),
 Timestamp('1961-05-20 00:00:00+0000', tz='UTC'),
 Timestamp('1961-05-27 00:00:00+0000', tz='UTC'),
 Timestamp('1961-05-27 00:00:00+0000', tz='UTC'),
 Timestamp('1961-06-26 00:00:00+0000', tz='UTC'),
 Timestamp('1961-07-23 00:00:00+0000', tz='UTC'),
 Timestamp('1961-09-16 00:00:00+0000', tz='UTC'),
 Timestamp('1961-11-16 00:00:00+0000', tz='UTC'),
 Timestamp('1962-02-14 00:00:00+0000', tz='UTC'),
 Timestamp('1962-02-22 00:00:00+0000', tz='UTC'),
 Timestamp('1962-03-06 00:00:00+0000', tz='UTC'),
 Timestamp('1962-03-09 00:00:00+0000', tz='UTC'),
 Timestamp('1962-03-09 00:00:00+0000', tz='UTC'),
 Timestamp('1962-03-09 00:00:00+0000', tz='UTC'),
 Timestamp('1962-03-09 00:00:00+0000', tz='UTC'),
 Timestamp('1962-03-09 00:00:00+0000', tz='UTC'),
 Timestamp('1962-03-12 00:00:00+0000', tz='UTC'),
 Timestamp('1962-03-16 00:00:00+0000', tz='UTC'),
 Timestamp('1962-03-16 00:00:00+0000', tz='UTC'),
 Timestamp('1962-05-10 00:00:00+0000', tz='UTC'),
 Timestamp('1962-07-27 00:00:00+0000', tz='UTC'),
 Timestamp('1962-09-05 00:00:00+0000', tz='UTC'),
 Timestamp('1962-09-05 00:00:00+0000', tz='UTC'),
 Timestamp('1962-10-16 00:00:00+0000', tz='UTC'),
 Timestamp('1962-10-20 00:00:00+0000', tz='UTC'),
 Timestamp('1962-10-24 00:00:00+0000', tz='UTC'),
 Timestamp('1962-11-12 00:00:00+0000', tz='UTC'),
 Timestamp('1962-12-17 00:00:00+0000', tz='UTC'),
 Timestamp('1963-02-14 00:00:00+0000', tz='UTC'),
 Timestamp('1963-02-14 00:00:00+0000', tz='UTC'),
 Timestamp('1963-02-25 00:00:00+0000', tz='UTC'),
 Timestamp('1963-02-25 00:00:00+0000', tz='UTC'),
 Timestamp('1963-03-02 00:00:00+0000', tz='UTC'),
 Timestamp('1963-03-13 00:00:00+0000', tz='UTC'),
 Timestamp('1963-03-13 00:00:00+0000', tz='UTC'),
 Timestamp('1963-03-21 00:00:00+0000', tz='UTC'),
 Timestamp('1963-03-26 00:00:00+0000', tz='UTC'),
 Timestamp('1963-03-27 00:00:00+0000', tz='UTC'),
 Timestamp('1963-04-24 00:00:00+0000', tz='UTC'),
 Timestamp('1963-04-30 00:00:00+0000', tz='UTC'),
 Timestamp('1963-04-30 00:00:00+0000', tz='UTC'),
 Timestamp('1963-07-04 00:00:00+0000', tz='UTC'),
 Timestamp('1963-07-17 00:00:00+0000', tz='UTC'),
 Timestamp('1963-08-02 00:00:00+0000', tz='UTC'),
 Timestamp('1963-08-23 00:00:00+0000', tz='UTC'),
 Timestamp('1963-09-24 00:00:00+0000', tz='UTC'),
 Timestamp('1963-11-27 00:00:00+0000', tz='UTC'),
 Timestamp('1964-03-17 00:00:00+0000', tz='UTC'),
 Timestamp('1964-03-17 00:00:00+0000', tz='UTC'),
 Timestamp('1964-03-17 00:00:00+0000', tz='UTC'),
 Timestamp('1964-03-20 00:00:00+0000', tz='UTC'),
 Timestamp('1964-03-20 00:00:00+0000', tz='UTC'),
 Timestamp('1964-03-24 00:00:00+0000', tz='UTC'),
 Timestamp('1964-03-28 00:00:00+0000', tz='UTC'),
 Timestamp('1964-05-26 00:00:00+0000', tz='UTC'),
 Timestamp('1964-06-08 00:00:00+0000', tz='UTC'),
 Timestamp('1964-06-09 00:00:00+0000', tz='UTC'),
 Timestamp('1964-07-08 00:00:00+0000', tz='UTC'),
 Timestamp('1964-07-20 00:00:00+0000', tz='UTC'),
 Timestamp('1964-09-08 00:00:00+0000', tz='UTC'),
 Timestamp('1964-09-10 00:00:00+0000', tz='UTC'),
 Timestamp('1964-09-10 00:00:00+0000', tz='UTC'),
 Timestamp('1964-10-03 00:00:00+0000', tz='UTC'),
 Timestamp('1964-10-13 00:00:00+0000', tz='UTC'),
 Timestamp('1964-11-04 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-10 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-18 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-24 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-24 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-24 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-24 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-24 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-24 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-24 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-24 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-24 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-24 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-24 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-24 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-24 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-24 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-24 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-24 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-24 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-24 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-24 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-24 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-24 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-24 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-24 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-24 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-24 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-24 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-24 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-24 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-24 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-24 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-24 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-24 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-24 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-24 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-24 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-24 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-24 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-24 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-24 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-24 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-24 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-24 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-24 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-24 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-24 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-24 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-24 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-24 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-24 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-24 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-24 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-24 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-24 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-24 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-24 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-24 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-24 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-24 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-24 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-24 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-24 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-24 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-24 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-24 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-24 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-24 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-24 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-29 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-29 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-29 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-29 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-29 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-29 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-29 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-29 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-29 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-29 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-29 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-29 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-29 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-29 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-29 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-29 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-29 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-29 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-29 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-29 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-29 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-31 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-31 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-31 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-31 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-31 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-31 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-31 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-31 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-31 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-31 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-31 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-31 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-31 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-31 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-31 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-31 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-31 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-31 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-31 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-31 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-31 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-31 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-31 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-31 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-31 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-31 00:00:00+0000', tz='UTC'),
 Timestamp('1964-12-31 00:00:00+0000', tz='UTC'),
 Timestamp('1965-01-18 00:00:00+0000', tz='UTC'),
 Timestamp('1965-01-18 00:00:00+0000', tz='UTC'),
 Timestamp('1965-01-18 00:00:00+0000', tz='UTC'),
 Timestamp('1965-01-18 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-11 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-11 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-11 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-11 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-11 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-11 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-11 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-11 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-11 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-11 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-11 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-11 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-11 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-11 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-11 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-11 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-11 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-11 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-11 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-11 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-11 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-11 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-11 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-11 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-11 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-11 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-11 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-11 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-11 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-11 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-11 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-11 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-11 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-11 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-11 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-11 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-11 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-11 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-11 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-11 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-11 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-11 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-11 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-11 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-11 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-11 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-11 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-11 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-11 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-11 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-11 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-11 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-11 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-11 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-11 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-11 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-11 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-11 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-11 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-11 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-11 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-11 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-11 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-11 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-11 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-14 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-14 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-14 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-14 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-14 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-14 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-14 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-14 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-14 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-14 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-14 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-14 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-14 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-14 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-14 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-14 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-14 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-14 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-14 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-14 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-14 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-14 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-14 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-14 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-14 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-14 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-14 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-14 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-14 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-14 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-14 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-14 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-14 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-14 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-14 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-14 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-14 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-14 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-14 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-14 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-14 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-14 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-14 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-14 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-14 00:00:00+0000', tz='UTC'),
 Timestamp('1965-04-14 00:00:00+0000', tz='UTC'),

In [37]:
from datetime import datetime
from datetime import date
 
def rem_time(d):
    for i in len(data3):
        s = date(d.year,d.month)
        return s
 
d = time
print(rem_time(d))

TypeError: 'int' object is not iterable

In [19]:
data3['declaration_date_up'] = data3['declaration_date'].dt.strftime('%m/%d/%Y')
data3.disaster_closeout_date = pd.to_datetime(data3.disaster_closeout_date)
data3['disaster_closeout_date_up'] = data3['disaster_closeout_date'].dt.strftime('%m/%d/%Y')
data3.incident_begin_date = pd.to_datetime(data3.incident_begin_date)
data3['incident_begin_date_up'] = data3['incident_begin_date'].dt.strftime('%m/%d/%Y')
data3.incident_end_date = pd.to_datetime(data3.incident_end_date)
data3['incident_end_date_up'] = data3['incident_end_date'].dt.strftime('%m/%d/%Y')
data3.last_refresh = pd.to_datetime(data3.last_refresh)
data3['last_refresh_up'] = data3['last_refresh'].dt.strftime('%m/%d/%Y')
data3

,fema_declaration_string,disaster_number,state,declaration_type,declaration_date,fy_declared,incident_type,declaration_title,ih_program_declared,ia_program_declared,...,id,last_refresh,State,Standard,state_mergekey,declaration_date_up,disaster_closeout_date_up,incident_begin_date_up,incident_end_date_up,last_refresh_up
0,DR-1-GA,1,GA,DR,1953-05-02 00:00:00+00:00,1953,Tornado,Tornado,0,1,...,8f8b4a86-847f-422c-b2a3-bbdb2f2ee9d7,2022-07-20 21:22:24+00:00,Georgia,Ga.,GA,05/02/1953,06/01/1954,05/02/1953,05/02/1953,07/20/2022
1,DR-2-TX,2,TX,DR,1953-05-15 00:00:00+00:00,1953,Tornado,Tornado & Heavy Rainfall,0,1,...,4926ca15-ee98-4d43-9636-4c3e4d1308d2,2022-07-20 21:22:24+00:00,Texas,Texas,TX,05/15/1953,01/01/1958,05/15/1953,05/15/1953,07/20/2022
2,DR-3-LA,3,LA,DR,1953-05-29 00:00:00+00:00,1953,Flood,Flood,0,1,...,5c899b70-3999-47c0-80c7-e5cb8908a048,2022-07-20 21:22:24+00:00,Louisiana,La.,LA,05/29/1953,02/01/1960,05/29/1953,05/29/1953,07/20/2022
3,DR-4-MI,4,MI,DR,1953-06-02 00:00:00+00:00,1953,Tornado,Tornado,0,1,...,8f69798b-4084-41b9-a389-f0c51ebac066,2022-07-20 21:22:24+00:00,Michigan,Mich.,MI,06/02/1953,02/01/1956,06/02/1953,06/02/1953,07/20/2022
4,DR-5-MT,5,MT,DR,1953-06-06 00:00:00+00:00,1953,Flood,Floods,0,1,...,cc3997c1-06bc-43d8-a3cc-3696a73637f1,2022-07-20 21:22:24+00:00,Montana,Mont.,MT,06/06/1953,12/01/1955,06/06/1953,06/06/1953,07/20/2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55447,EM-3586-NC,3586,NC,EM,2022-10-01 00:00:00+00:00,2023,Hurricane,Hurricane Ian,0,0,...,7eaaf5d5-1760-477c-ba1e-a45ff3df9353,2022-10-01 04:41:30+00:00,North Carolina,N.C.,NC,10/01/2022,NaN,09/28/2022,NaN,10/01/2022
55448,EM-3586-NC,3586,NC,EM,2022-10-01 00:00:00+00:00,2023,Hurricane,Hurricane Ian,0,0,...,aae65641-7c12-46de-abd9-925a4de9d1e5,2022-10-01 04:41:30+00:00,North Carolina,N.C.,NC,10/01/2022,NaN,09/28/2022,NaN,10/01/2022
55449,DR-4676-IL,4676,IL,DR,2022-10-14 00:00:00+00:00,2023,Flood,Severe Storm And Flooding,1,0,...,9f42ed66-5ee5-4cb0-9130-ae32eccd4f7e,2022-10-17 17:22:16+00:00,Illinois,Ill.,IL,10/14/2022,NaN,07/25/2022,07/28/2022,10/17/2022
55450,FM-5456-WA,5456,WA,FM,2022-10-17 00:00:00+00:00,2023,Fire,Nakia Creek Fire,0,0,...,18b172e2-bdcb-4af0-80fd-05c6290114b0,2022-10-17 19:01:32+00:00,Washington,Wash.,WA,10/17/2022,NaN,10/09/2022,NaN,10/17/2022
55451,FM-5456-WA,5456,WA,FM,2022-10-17 00:00:00+00:00,2023,Fire,Nakia Creek Fire,0,0,...,fa26a76d-608d-4573-bc45-b679bfa37c5e,2022-10-17 19:01:32+00:00,Washington,Wash.,WA,10/17/2022,NaN,10/09/2022,NaN,10/17/2022

In [20]:
data4 = data3.drop(['declaration_date','incident_begin_date','incident_end_date','disaster_closeout_date','last_refresh'],axis=1)
data4

,fema_declaration_string,disaster_number,state,declaration_type,fy_declared,incident_type,declaration_title,ih_program_declared,ia_program_declared,pa_program_declared,...,hash,id,State,Standard,state_mergekey,declaration_date_up,disaster_closeout_date_up,incident_begin_date_up,incident_end_date_up,last_refresh_up
0,DR-1-GA,1,GA,DR,1953,Tornado,Tornado,0,1,1,...,deb98e5688deba24cdce35e6ead78158fd80f741,8f8b4a86-847f-422c-b2a3-bbdb2f2ee9d7,Georgia,Ga.,GA,05/02/1953,06/01/1954,05/02/1953,05/02/1953,07/20/2022
1,DR-2-TX,2,TX,DR,1953,Tornado,Tornado & Heavy Rainfall,0,1,1,...,319d7571fad2f0f6a3270e968fc1497ee4483831,4926ca15-ee98-4d43-9636-4c3e4d1308d2,Texas,Texas,TX,05/15/1953,01/01/1958,05/15/1953,05/15/1953,07/20/2022
2,DR-3-LA,3,LA,DR,1953,Flood,Flood,0,1,1,...,5eca2ab08254fda0184630d798f5a17b95bd39f7,5c899b70-3999-47c0-80c7-e5cb8908a048,Louisiana,La.,LA,05/29/1953,02/01/1960,05/29/1953,05/29/1953,07/20/2022
3,DR-4-MI,4,MI,DR,1953,Tornado,Tornado,0,1,1,...,af9856b9f1e8ada710ff92690a1cfec368f9b315,8f69798b-4084-41b9-a389-f0c51ebac066,Michigan,Mich.,MI,06/02/1953,02/01/1956,06/02/1953,06/02/1953,07/20/2022
4,DR-5-MT,5,MT,DR,1953,Flood,Floods,0,1,1,...,750685661b7d2fbdbc7d967c7ef3bf563df8cca1,cc3997c1-06bc-43d8-a3cc-3696a73637f1,Montana,Mont.,MT,06/06/1953,12/01/1955,06/06/1953,06/06/1953,07/20/2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55447,EM-3586-NC,3586,NC,EM,2023,Hurricane,Hurricane Ian,0,0,1,...,3bd2dea11fa8caac86eba6e5fc2fc71bd3067667,7eaaf5d5-1760-477c-ba1e-a45ff3df9353,North Carolina,N.C.,NC,10/01/2022,NaN,09/28/2022,NaN,10/01/2022
55448,EM-3586-NC,3586,NC,EM,2023,Hurricane,Hurricane Ian,0,0,1,...,277b54ff10f36af8a2953072092a1e3e238e2593,aae65641-7c12-46de-abd9-925a4de9d1e5,North Carolina,N.C.,NC,10/01/2022,NaN,09/28/2022,NaN,10/01/2022
55449,DR-4676-IL,4676,IL,DR,2023,Flood,Severe Storm And Flooding,1,0,0,...,baa79021a6bb8c27c2118035bc00392212cec811,9f42ed66-5ee5-4cb0-9130-ae32eccd4f7e,Illinois,Ill.,IL,10/14/2022,NaN,07/25/2022,07/28/2022,10/17/2022
55450,FM-5456-WA,5456,WA,FM,2023,Fire,Nakia Creek Fire,0,0,1,...,73993b1c2a24962b4e18c3d29696d8e18f7f212a,18b172e2-bdcb-4af0-80fd-05c6290114b0,Washington,Wash.,WA,10/17/2022,NaN,10/09/2022,NaN,10/17/2022
55451,FM-5456-WA,5456,WA,FM,2023,Fire,Nakia Creek Fire,0,0,1,...,8f040e1efef550b28cc2cd3bce77b99ec887e9fd,fa26a76d-608d-4573-bc45-b679bfa37c5e,Washington,Wash.,WA,10/17/2022,NaN,10/09/2022,NaN,10/17/2022

In [21]:
data4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55452 entries, 0 to 55451
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   fema_declaration_string     55452 non-null  object
 1   disaster_number             55452 non-null  int64
 2   state                       55452 non-null  object
 3   declaration_type            55452 non-null  object
 4   fy_declared                 55452 non-null  int64
 5   incident_type               55452 non-null  object
 6   declaration_title           55452 non-null  object
 7   ih_program_declared         55452 non-null  int64
 8   ia_program_declared         55452 non-null  int64
 9   pa_program_declared         55452 non-null  int64
 10  hm_program_declared         55452 non-null  int64
 11  fips                        55452 non-null  int64
 12  place_code                  55452 non-null  int64
 13  designated_area             55452 non-null  object
 14  declaration_request_number  55452 non-null  int64
 15  hash                        55452 non-null  object
 16  id                          55452 non-null  object
 17  State                       55247 non-null  object
 18  Standard                    55247 non-null  object
 19  state_mergekey              55247 non-null  object
 20  declaration_date_up         55452 non-null  object
 21  disaster_closeout_date_up   44699 non-null  object
 22  incident_begin_date_up      55452 non-null  object
 23  incident_end_date_up        54644 non-null  object
 24  last_refresh_up             55452 non-null  object
dtypes: int64(9), object(16)
memory usage: 11.0+ MB

In [22]:
data4[['declaration_date_up','incident_begin_date_up','incident_end_date_up','disaster_closeout_date_up','last_refresh_up']] = data4[['declaration_date_up','incident_begin_date_up','incident_end_date_up','disaster_closeout_date_up','last_refresh_up']].apply(pd.to_datetime, errors='coerce')
data4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55452 entries, 0 to 55451
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   fema_declaration_string     55452 non-null  object
 1   disaster_number             55452 non-null  int64
 2   state                       55452 non-null  object
 3   declaration_type            55452 non-null  object
 4   fy_declared                 55452 non-null  int64
 5   incident_type               55452 non-null  object
 6   declaration_title           55452 non-null  object
 7   ih_program_declared         55452 non-null  int64
 8   ia_program_declared         55452 non-null  int64
 9   pa_program_declared         55452 non-null  int64
 10  hm_program_declared         55452 non-null  int64
 11  fips                        55452 non-null  int64
 12  place_code                  55452 non-null  int64
 13  designated_area             55452 non-null  object
 14  declaration_request_number  55452 non-null  int64
 15  hash                        55452 non-null  object
 16  id                          55452 non-null  object
 17  State                       55247 non-null  object
 18  Standard                    55247 non-null  object
 19  state_mergekey              55247 non-null  object
 20  declaration_date_up         55452 non-null  datetime64[ns]
 21  disaster_closeout_date_up   44699 non-null  datetime64[ns]
 22  incident_begin_date_up      55452 non-null  datetime64[ns]
 23  incident_end_date_up        54644 non-null  datetime64[ns]
 24  last_refresh_up             55452 non-null  datetime64[ns]
dtypes: datetime64[ns](5), int64(9), object(11)
memory usage: 11.0+ MB

In [23]:
decalarations_table = data4[['fema_declaration_string','disaster_number','declaration_type','declaration_date_up','fy_declared','declaration_title','disaster_closeout_date_up','fips','designated_area','declaration_request_number','id','last_refresh_up','state_mergekey']]
decalarations_table

,fema_declaration_string,disaster_number,declaration_type,declaration_date_up,fy_declared,declaration_title,disaster_closeout_date_up,fips,designated_area,declaration_request_number,id,last_refresh_up,state_mergekey
0,DR-1-GA,1,DR,1953-05-02,1953,Tornado,1954-06-01,13000,Statewide,53013,8f8b4a86-847f-422c-b2a3-bbdb2f2ee9d7,2022-07-20,GA
1,DR-2-TX,2,DR,1953-05-15,1953,Tornado & Heavy Rainfall,1958-01-01,48000,Statewide,53003,4926ca15-ee98-4d43-9636-4c3e4d1308d2,2022-07-20,TX
2,DR-3-LA,3,DR,1953-05-29,1953,Flood,1960-02-01,22000,Statewide,53005,5c899b70-3999-47c0-80c7-e5cb8908a048,2022-07-20,LA
3,DR-4-MI,4,DR,1953-06-02,1953,Tornado,1956-02-01,26000,Statewide,53004,8f69798b-4084-41b9-a389-f0c51ebac066,2022-07-20,MI
4,DR-5-MT,5,DR,1953-06-06,1953,Floods,1955-12-01,30000,Statewide,53006,cc3997c1-06bc-43d8-a3cc-3696a73637f1,2022-07-20,MT
...,...,...,...,...,...,...,...,...,...,...,...,...,...
55447,EM-3586-NC,3586,EM,2022-10-01,2023,Hurricane Ian,NaT,37147,Pitt (County),22091,7eaaf5d5-1760-477c-ba1e-a45ff3df9353,2022-10-01,NC
55448,EM-3586-NC,3586,EM,2022-10-01,2023,Hurricane Ian,NaT,37173,Swain (County),22091,aae65641-7c12-46de-abd9-925a4de9d1e5,2022-10-01,NC
55449,DR-4676-IL,4676,DR,2022-10-14,2023,Severe Storm And Flooding,NaT,17163,St. Clair (County),22074,9f42ed66-5ee5-4cb0-9130-ae32eccd4f7e,2022-10-17,IL
55450,FM-5456-WA,5456,FM,2022-10-17,2023,Nakia Creek Fire,NaT,53011,Clark (County),22097,18b172e2-bdcb-4af0-80fd-05c6290114b0,2022-10-17,WA
55451,FM-5456-WA,5456,FM,2022-10-17,2023,Nakia Creek Fire,NaT,53059,Skamania (County),22097,fa26a76d-608d-4573-bc45-b679bfa37c5e,2022-10-17,WA

In [24]:
decalarations_table.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55452 entries, 0 to 55451
Data columns (total 13 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   fema_declaration_string     55452 non-null  object
 1   disaster_number             55452 non-null  int64
 2   declaration_type            55452 non-null  object
 3   declaration_date_up         55452 non-null  datetime64[ns]
 4   fy_declared                 55452 non-null  int64
 5   declaration_title           55452 non-null  object
 6   disaster_closeout_date_up   44699 non-null  datetime64[ns]
 7   fips                        55452 non-null  int64
 8   designated_area             55452 non-null  object
 9   declaration_request_number  55452 non-null  int64
 10  id                          55452 non-null  object
 11  last_refresh_up             55452 non-null  datetime64[ns]
 12  state_mergekey              55247 non-null  object
dtypes: datetime64[ns](3), int64(4), object(6)
memory usage: 5.9+ MB

In [25]:
decalarations_table.isnull().sum()

fema_declaration_string           0
disaster_number                   0
declaration_type                  0
declaration_date_up               0
fy_declared                       0
declaration_title                 0
disaster_closeout_date_up     10753
fips                              0
designated_area                   0
declaration_request_number        0
id                                0
last_refresh_up                   0
state_mergekey                  205
dtype: int64

In [26]:
decalarations_table.to_csv('Dec_Table.csv')

In [27]:
incidents_table = data4[['incident_type','incident_begin_date_up','incident_end_date_up','place_code','hash']]
incidents_table

,incident_type,incident_begin_date_up,incident_end_date_up,place_code,hash
0,Tornado,1953-05-02,1953-05-02,0,deb98e5688deba24cdce35e6ead78158fd80f741
1,Tornado,1953-05-15,1953-05-15,0,319d7571fad2f0f6a3270e968fc1497ee4483831
2,Flood,1953-05-29,1953-05-29,0,5eca2ab08254fda0184630d798f5a17b95bd39f7
3,Tornado,1953-06-02,1953-06-02,0,af9856b9f1e8ada710ff92690a1cfec368f9b315
4,Flood,1953-06-06,1953-06-06,0,750685661b7d2fbdbc7d967c7ef3bf563df8cca1
...,...,...,...,...,...
55447,Hurricane,2022-09-28,NaT,99147,3bd2dea11fa8caac86eba6e5fc2fc71bd3067667
55448,Hurricane,2022-09-28,NaT,99173,277b54ff10f36af8a2953072092a1e3e238e2593
55449,Flood,2022-07-25,2022-07-28,99163,baa79021a6bb8c27c2118035bc00392212cec811
55450,Fire,2022-10-09,NaT,99011,73993b1c2a24962b4e18c3d29696d8e18f7f212a
55451,Fire,2022-10-09,NaT,99059,8f040e1efef550b28cc2cd3bce77b99ec887e9fd

In [28]:
incidents_table.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55452 entries, 0 to 55451
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   incident_type           55452 non-null  object
 1   incident_begin_date_up  55452 non-null  datetime64[ns]
 2   incident_end_date_up    54644 non-null  datetime64[ns]
 3   place_code              55452 non-null  int64
 4   hash                    55452 non-null  object
dtypes: datetime64[ns](2), int64(1), object(2)
memory usage: 2.5+ MB

In [29]:
incidents_table.isnull().sum()

incident_type               0
incident_begin_date_up      0
incident_end_date_up      808
place_code                  0
hash                        0
dtype: int64

In [30]:
incidents_table.to_csv('Inc_Table.csv')

In [31]:
program_table = data4[['ih_program_declared','ia_program_declared','pa_program_declared','hm_program_declared']]
program_table

,ih_program_declared,ia_program_declared,pa_program_declared,hm_program_declared
0,0,1,1,1
1,0,1,1,1
2,0,1,1,1
3,0,1,1,1
4,0,1,1,1
...,...,...,...,...
55447,0,0,1,0
55448,0,0,1,0
55449,1,0,0,1
55450,0,0,1,1
55451,0,0,1,1

In [32]:
program_table.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55452 entries, 0 to 55451
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ih_program_declared  55452 non-null  int64
 1   ia_program_declared  55452 non-null  int64
 2   pa_program_declared  55452 non-null  int64
 3   hm_program_declared  55452 non-null  int64
dtypes: int64(4)
memory usage: 2.1 MB

In [33]:
program_table.isnull().sum()

ih_program_declared    0
ia_program_declared    0
pa_program_declared    0
hm_program_declared    0
dtype: int64

In [34]:
program_table.to_csv('Prog_Table.csv')

In [35]:
state_table = state_data
state_table

                   State Standard state_mergekey
0                Alabama     Ala.             AL
1                 Alaska   Alaska             AK
2                Arizona    Ariz.             AZ
3               Arkansas     Ark.             AR
4             California   Calif.             CA
5             Canal Zone     C.Z.             CZ
6               Colorado    Colo.             CO
7            Connecticut    Conn.             CT
8               Delaware     Del.             DE
9   District of Columbia     D.C.             DC
10               Florida     Fla.             FL
11               Georgia      Ga.             GA
12                  Guam     Guam             GU
13                Hawaii   Hawaii             HI
14                 Idaho    Idaho             ID
15              Illinois     Ill.             IL
16               Indiana     Ind.             IN
17                  Iowa     Iowa             IA
18                Kansas     Kan.             KS
19              Kentucky      Ky.             KY
20             Louisiana      La.             LA
21                 Maine    Maine             ME
22              Maryland      Md.             MD
23         Massachusetts    Mass.             MA
24              Michigan    Mich.             MI
25             Minnesota    Minn.             MN
26           Mississippi    Miss.             MS
27              Missouri      Mo.             MO
28               Montana    Mont.             MT
29              Nebraska     Neb.             NE
30                Nevada     Nev.             NV
31         New Hampshire     N.H.             NH
32            New Jersey     N.J.             NJ
33            New Mexico     N.M.             NM
34              New York     N.Y.             NY
35        North Carolina     N.C.             NC
36          North Dakota     N.D.             ND
37                  Ohio     Ohio             OH
38              Oklahoma    Okla.             OK
39                Oregon     Ore.             OR
40          Pennsylvania      Pa.             PA
41           Puerto Rico     P.R.             PR
42          Rhode Island     R.I.             RI
43        South Carolina     S.C.             SC
44          South Dakota     S.D.             SD
45             Tennessee    Tenn.             TN
46                 Texas    Texas             TX
47                  Utah     Utah             UT
48               Vermont      Vt.             VT
49        Virgin Islands     V.I.             VI
50              Virginia      Va.             VA
51            Washington    Wash.             WA
52         West Virginia    W.Va.             WV
53             Wisconsin     Wis.             WI
54               Wyoming     Wyo.             WY

In [36]:
state_table.to_csv('State_Table.csv')

In [65]:
temp_data = pd.read_csv('Temp_Table_redone.csv')
temp_data = pd.DataFrame(temp_data)
temp_data

      Unnamed: 0  Year    State  Avg_Temperature State_ID
0              0  1953  Alabama           17.773       AL
1              1  1954  Alabama           17.994       AL
2              2  1955  Alabama           17.612       AL
3              3  1956  Alabama           17.718       AL
4              4  1957  Alabama           17.903       AL
...          ...   ...      ...              ...      ...
3055        3055  2008  Wyoming            5.067       WY
3056        3056  2009  Wyoming            5.200       WY
3057        3057  2010  Wyoming            5.756       WY
3058        3058  2011  Wyoming            5.312       WY
3059        3059  2012  Wyoming            7.306       WY

[3060 rows x 5 columns]

In [66]:
temp_data.columns =['ID','Year', 'State', 'Avg_Temperature','State_ID']
temp_data

        ID  Year    State  Avg_Temperature State_ID
0        0  1953  Alabama           17.773       AL
1        1  1954  Alabama           17.994       AL
2        2  1955  Alabama           17.612       AL
3        3  1956  Alabama           17.718       AL
4        4  1957  Alabama           17.903       AL
...    ...   ...      ...              ...      ...
3055  3055  2008  Wyoming            5.067       WY
3056  3056  2009  Wyoming            5.200       WY
3057  3057  2010  Wyoming            5.756       WY
3058  3058  2011  Wyoming            5.312       WY
3059  3059  2012  Wyoming            7.306       WY

[3060 rows x 5 columns]

In [62]:
temp_data1 = temp_data.iloc[: , 1:]
temp_data1

        State  Avg_Temperature State_ID
0     Alabama           17.773       AL
1     Alabama           17.994       AL
2     Alabama           17.612       AL
3     Alabama           17.718       AL
4     Alabama           17.903       AL
...       ...              ...      ...
3055  Wyoming            5.067       WY
3056  Wyoming            5.200       WY
3057  Wyoming            5.756       WY
3058  Wyoming            5.312       WY
3059  Wyoming            7.306       WY

[3060 rows x 3 columns]

In [ ]:
data5 = pd.merge(left=data3,right=temp_data,left_on="state",right_on="state_mergekey",how="left")